<!DOCTYPE html>
<html ng-app="accounts" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Accounts</title>

  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/angularjs/angular.min.js"></script>
  <script src="/vendor/bootstrap/js/modal.js"></script>
  <script src="/vendor/bootstrap/js/alert.js"></script>

  <script src="/vendor/d3/d3.js"></script>
  <script src="/vendor/nvd3/nv.d3.js"></script>

  <script src="/scripts/main.js"></script>
  <script src="/scripts/lib/tabs-directives.js"></script>
  <script src="/scripts/lib/modal-directives.js"></script>
  <script src="/scripts/lib/cents-conversion.js"></script>

  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/vendor/nvd3/nv.d3.css"/>
</head>

<body ng-controller="AccountsController as accounts">
  <div id='chart25b417346128' class='rChart nvd3'></div>

  <tabs class="container">
    <pane title="Cuentas">
      <div>
        <div class="holder alert alert-success" role="alert" ng-show="accounts.isHolderVisible()">

          <div class="holder-deposit" ng-show="accounts.canDeposit()">
            <p>
              {{accounts.holder.balance | fromCents | currency}}
              han sido retirados
            </p>

            <button class="btn btn-primary btn-sm" data-toggle="modal"
              data-target="#modal-deposit">
              Depositar
            </button>
          </div>

          <div class="holder-commit"  ng-show="accounts.isReadyToCommit()">
            <p>
              La bolsa está vacia, guarda los cambios para que se reflejen en transacciones.
            </p>

            <button class="btn btn-primary btn-sm"
              ng-click="accounts.commit()">
              Guardar
            </button>
          </div>
          <deposit-form></deposit-form>
        </div>

        <h2>Cuentas</h2>

        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th colspan="2">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr class="account" ng-repeat-start="account in accounts.items">
              <td>{{account.name}}</td>
              <td>{{account.balance | fromCents | currency}}</td>
              <td class="text-right">
                <withdraw-form class="text-left"></withdraw-form>

                <button  class="btn btn-primary btn-sm"
                  ng-click="showHistory=true" ng-hide="showHistory">
                  Mostrar historial
                </button>

                <button class="btn btn-primary btn-sm"
                  data-toggle="modal" data-target="#modal-account-{{$index}}-withdraw">
                  Retirar
                </button>
              </td>
            </tr>

            <tr ng-repeat-end ng-show="showHistory">
              <td colspan="2">
                <transaction-history-graph id="graph-{{$index}}"></transaction-history-graph>
              </td>
              <td class="text-right">
                <button class="btn btn-primary btn-sm"
                  ng-click="showHistory=false">
                  Ocultar
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </pane>

    <pane title="Transacciones">
      <h2>Trasaciones</h2>

      <table class="table">
        <thead>
          <tr>
            <th>Cuenta</th>
            <th>Monto</th>
            <th>Balance</th>
            <th>Fecha</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="transaction in accounts.transactions track by $index">
            <td>{{transaction.account}}</td>
            <td class="amount-cell" ng-class="{neg: transaction.amount < 0}">{{transaction.amount | fromCents | customCurrency}}</td>
            <td>{{transaction.balance | fromCents | currency}}</td>
            <td>{{transaction.time | date:'dd/MM/yyyy HH:mm' }}</td>
          </tr>
        <tbody>
      </table>

    </pane>
  </tabs>
</body>
</html>
